# type Comandos de Entrada e Saída

In [3]:
nome = "Renato"
idade = 52

In [5]:
print(nome, " tem ", idade, " anos! ")

Renato  tem  52  anos!

In [7]:
nome=input("Digite seu nome: ")

Digite seu nome:  Renato

In [9]:
print(nome, " tem ", idade, " anos! ")

Renato  tem  52  anos!

In [11]:
type(nome)

str

In [13]:
idade=input("Digite sua idade: ")

Digite sua idade:  25

In [15]:
idade

'25'

In [19]:
type(idade)

str

In [29]:
idade = int(idade)
#Convertendo idade de String para Int

In [23]:
type(idade)

int

In [41]:
idade = int(input("Digite sua idade: "))

Digite sua idade:  36

In [33]:
print(nome, " tem ", idade, " anos! ")

Renato  tem  36  anos!

In [35]:
type(nome)

str

In [37]:
type(idade)

int

# CALCULO DA ÁREA

In [45]:
lado1 = float(input("Digite o lado maior: "))
lado2 = float(input("Digite o lado menor: "))
area = lado1 * lado2
print("A áreado quadrilatero é: ",area)

Digite o lado maior:  6
Digite o lado menor:  3

A áreado quadrilatero é:  18.0