![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [1]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [3]:
type(lista_1)

list

In [5]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [21]:
len(lista_1)

1

In [7]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [9]:
type(lista_2)

list

In [23]:
len(lista_2)

4

In [11]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [13]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [15]:
type(lista_3)

list

In [17]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [29]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [27]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [31]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [33]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [ ]:
lista_2

In [ ]:
# Imprimindo um item da lista
lista_2[2]

In [ ]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [ ]:
# Imprimindo lista alterada
lista_2

#### Deletando Um Item da Lista

In [ ]:
lista_2

In [ ]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
listas[0][1]

In [ ]:
a

In [ ]:
b = a[0]

In [ ]:
b

In [ ]:
list1 = listas[1]

In [ ]:
list1

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

#### Operações com Listas

In [35]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [49]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [51]:
                                                                                             # Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [53]:
a

1

In [55]:
b = listas[1][2]

In [57]:
b

14

In [59]:
c = listas[0][2] + 10

In [61]:
c

13

In [63]:
d = 10

In [65]:
d

10

In [67]:
e = d * listas[2][0]

In [69]:
e

101.0

#### Concatenando Listas

In [72]:
lista_s1 = [34, 32, 56]

In [74]:
lista_s1

[34, 32, 56]

In [76]:
lista_s2 = [21, 90, 51]

In [78]:
lista_s2

[21, 90, 51]

In [80]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [82]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [85]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [87]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [89]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [92]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [94]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [96]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [98]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [100]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [116]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [122]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [120]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [124]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [110]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [132]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [134]:
lista_formacoes_dsa.count("Engenheiro de IA")

1

In [136]:
# Criando uma lista vazia
a = []

In [126]:
print(a)

1

In [128]:
type(a)

int

In [138]:
a.append(10)

In [ ]:
a

In [140]:
a.append(50)

In [ ]:
a

In [142]:
old_list = [1,2,5,10]

In [144]:
new_list = []

In [146]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [166]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  3
Digite um valor (-1 para sair):  8
Digite um valor (-1 para sair):  2
Digite um valor (-1 para sair):  45
Digite um valor (-1 para sair):  99
Digite um valor (-1 para sair):  -1

[3, 8, 2, 45, 99]

In [168]:
new_list

[1, 2, 5, 10]

In [170]:
old_list = [1,2,5,10]

In [162]:
new_list_inv = []

In [164]:
for item in old_list[::-1]:
    new_list_inv.append(item)

In [198]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [200]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [203]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [205]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [207]:
cidades.insert(2, 110)

In [209]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [211]:
# Remove um item da lista
cidades.remove(110)

In [213]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [215]:
# Reverte a lista
cidades.reverse()

In [217]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [219]:
x = [3, 4, 2, 1]

In [221]:
x

[3, 4, 2, 1]

In [223]:
# Ordena a lista
x.sort()

In [225]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [1]:
# Imprimindo a tupla
tupla1

NameError: name 'tupla1' is not defined

In [3]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [4]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [6]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
tupla1[0]

In [ ]:
# Verificando o comprimento da tupla
len(tupla1)

In [ ]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

In [ ]:
tupla1.index('Elefantes')

In [ ]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes_dict

In [ ]:
type(estudantes_dict)

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [182]:
numero=[]
print("Digite 10 numeros inteiros:")
for i in range(10):
    num = int(input(f"Digite o numero {i+1}: "))
    numero.append(num)

numero.reverse()
print (numero)

Digite 10 numeros inteiros:

Digite o numero 1:  1
Digite o numero 2:  2
Digite o numero 3:  3
Digite o numero 4:  4
Digite o numero 5:  5
Digite o numero 6:  6
Digite o numero 7:  7
Digite o numero 8:  8
Digite o numero 9:  9
Digite o numero 10:  10

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [172]:
# Inicializa o vetor vazio
vetor=[]
print("Digite 10 números inteiros:")
for i in range(10):
    numero = int(input(f"Digite o número {i + 1}: "))
    vetor.append(numero)

print("\nVetor na ordem inversa:")
for i in range(9, -1, -1):
    print(vetor[i])

Digite 10 números inteiros:

Digite o número 1:  3
Digite o número 2:  4
Digite o número 3:  5
Digite o número 4:  6
Digite o número 5:  7
Digite o número 6:  8
Digite o número 7:  9
Digite o número 8:  10
Digite o número 9:  11
Digite o número 10:  12

Vetor na ordem inversa:
12
11
10
9
8
7
6
5
4
3

2. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [194]:
numeros=[]
print("Digite 5 numeros inteiros:")
for i in range(5):
    num = int(input(f"Digite o numero {i+1}: "))
    numeros.append(num)

print(f"O maior valor é {max(numeros)}")
print(f"O indice é {numeros.index(max(numeros))}")

Digite 5 numeros inteiros:

Digite o numero 1:  3
Digite o numero 2:  5
Digite o numero 3:  7
Digite o numero 4:  9
Digite o numero 5:  1

O maior valor é 9
O indice é 3

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [196]:
vetor1 = [int(input(f"Digite o {i+1}º número para o vetor 1: ")) for i in range(5)]
vetor2 = [int(input(f"Digite o {i+1}º número para o vetor 2: ")) for i in range(5)]

vetor_resultante = []
for i in range(5):
    vetor_resultante.append(vetor1[i])
    vetor_resultante.append(vetor2[i])

# Exibindo o vetor resultante
print(f"O vetor resultante da intercalação:", vetor_resultante)

Digite o 1º número para o vetor 1:  1
Digite o 2º número para o vetor 1:  2
Digite o 3º número para o vetor 1:  3
Digite o 4º número para o vetor 1:  4
Digite o 5º número para o vetor 1:  5
Digite o 1º número para o vetor 2:  6
Digite o 2º número para o vetor 2:  7
Digite o 3º número para o vetor 2:  8
Digite o 4º número para o vetor 2:  9
Digite o 5º número para o vetor 2:  10

O vetor resultante da intercalação: [1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [227]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

18

In [229]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

5 2 6 3 6 3 1 6 5 5

In [233]:
# Exemplo de geração de numeros para megasena
from random import randint
# Gerando 6 numerosjogadas
for i in range (0,6):
    numero = randint(1,60)
    print(numero, end=" ")

1 40 51 23 38 4

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [241]:
# Gerando 6000 jogadas
jogadas = [0, 0, 0, 0, 0, 0, 0] #posição zero não será usada
for i in range (6000):
    lado = randint(1, 6)
    jogadas[lado]+=1

print (jogadas)
percentual = [0, 0, 0, 0, 0, 0, 0]
for i in range(1,7):
    percentual [i] = (jogadas [i]/6000) * 100
    percentual [i] = int(percentual [i] * 100)/100
    
print (percentual)

[0, 1014, 974, 1026, 971, 1010, 1005]
[0, 16.9, 16.23, 17.1, 16.18, 16.83, 16.75]

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [8]:
import random

# Definir 3000 como quantidade de jogadas
QUANTIDADE_DE_JOGADAS = 30000

# Alocação para contar quantas vezes cada soma aparece
# As somas vão de 2 a 12
contagem_das_somas = { 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0 }
print(f"Jogando dois dados {QUANTIDADE_DE_JOGADAS} vezes...")

# Vamos jogar os dados várias vezes
for _ in range(QUANTIDADE_DE_JOGADAS):
    # Valor do primeiro dado (número de 1 a 6)
    dado1 = random.randint(1, 6)
    # Valor do segundo dado (número de 1 a 6)
    dado2 = random.randint(1, 6)

    # Soma dos resultados dos dois dados
    soma_dos_dados = dado1 + dado2

    # Adicionar 1 à contagem da soma que saiu
    contagem_das_somas[soma_dos_dados] += 1

print("\n---")
print("Resultados finais:")

# Mostrar quantas vezes cada soma apareceu
for soma, quantidade in sorted(contagem_das_somas.items()):
    porcentagem = (quantidade / QUANTIDADE_DE_JOGADAS) * 100
    print(f"Soma {soma}: saiu {quantidade} vezes ({porcentagem:.2f}%)")

print("\n---")

# Verificar a soma 7 de perto
quantidade_soma_7 = contagem_das_somas[7]
porcentagem_soma_7 = (quantidade_soma_7 / QUANTIDADE_DE_JOGADAS) * 100

print(f"A soma 7 saiu {quantidade_soma_7} vezes, o que representa {porcentagem_soma_7:.2f}% das jogadas.")

# Teoricamente, a soma 7 deveria sair 1/6 das vezes (cerca de 16.67%)
proporcao_esperada_7 = 1/6
porcentagem_esperada_7 = proporcao_esperada_7 * 100

print(f"Esperávamos que a soma 7 saísse aproximadamente {porcentagem_esperada_7:.2f}% das vezes.")

# Verificamos se a soma 7 está perto do esperado (1/6)
# Usamos uma pequena margem de erro, pois é uma simulação
if abs(proporcao_soma_7 - proporcao_esperada_7) < 0.01:
    print("Sim, a soma 7 está bem próxima de 1/6 das jogadas, como a matemática diz!")
else:
    print("A soma 7 não está tão próxima de 1/6 das jogadas nesta simulação.")

Jogando dois dados 30000 vezes...

---
Resultados finais:
Soma 2: saiu 790 vezes (2.63%)
Soma 3: saiu 1753 vezes (5.84%)
Soma 4: saiu 2408 vezes (8.03%)
Soma 5: saiu 3341 vezes (11.14%)
Soma 6: saiu 4226 vezes (14.09%)
Soma 7: saiu 5024 vezes (16.75%)
Soma 8: saiu 4070 vezes (13.57%)
Soma 9: saiu 3399 vezes (11.33%)
Soma 10: saiu 2507 vezes (8.36%)
Soma 11: saiu 1668 vezes (5.56%)
Soma 12: saiu 814 vezes (2.71%)

---
A soma 7 saiu 5024 vezes, o que representa 16.75% das jogadas.
Esperávamos que a soma 7 saísse aproximadamente 16.67% das vezes.
Sim, a soma 7 está bem próxima de 1/6 das jogadas, como a matemática diz!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [9]:

# Criando a matriz 2x2.
matriz = [[0, 0],  # Esta é a primeira linha
          [0, 0]]  # Esta é a segunda linha
print("Por favor, digite os números para preencher a matriz:")

# Posição 1,1 (primeira linha, primeira coluna)
num_1_1 = int(input("Digite o número para 1,1: "))
matriz[0][0] = num_1_1 # Guardamos o número na matriz (lembre-se, Python começa a contar do 0)

# Posição [1,2] (primeira linha, segunda coluna)
num_1_2 = int(input("Digite o número para 1,2: "))
matriz[0][1] = num_1_2

# Posição [2,1] (segunda linha, primeira coluna)
num_2_1 = int(input("Digite o número para 2,1: "))
matriz[1][0] = num_2_1

# Posição [2,2] (segunda linha, segunda coluna)
num_2_2 = int(input("Digite o número para 2,2: "))
matriz[1][1] = num_2_2

print("\n---")
print("A matriz que você digitou é:")

# Agora, vamos mostrar os números na ordem que você pediu.
print(f"1,1 = {matriz[0][0]}")
print(f"1,2 = {matriz[0][1]}")
print(f"2,1 = {matriz[1][0]}")
print(f"2,2 = {matriz[1][1]}")

Por favor, digite os números para preencher a matriz:

Digite o número para 1,1:  1
Digite o número para 1,2:  2
Digite o número para 2,1:  3
Digite o número para 2,2:  4

---
A matriz que você digitou é:
1,1 = 1
1,2 = 2
2,1 = 3
2,2 = 4

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [10]:
# Parte 1: Preencher a matriz

print("Vamos preencher uma matriz 4x4.")
print("Por favor, digite um número (pode ser com vírgula) e aperte Enter a cada vez.")

# Criamos nossa matriz vazia. Ela terá 4 linhas e 4 colunas.
matriz = []

# Loop para cada linha (de 0 a 3, que são 4 linhas)
for i in range(4):
    linha_atual = [] # Uma lista para guardar os números desta linha
    # Loop para cada coluna dentro da linha (de 0 a 3, que são 4 colunas)
    for j in range(4):
        # Pedimos o número e garantimos que é um número (real, aceita decimal)
        while True:
            try:
                # A mensagem mostra [linha,coluna] para ficar mais fácil
                numero = float(input(f"Digite o número para a posição [{i+1},{j+1}]: "))
                linha_atual.append(numero)
                break # Sai do loop se o número for válido
            except ValueError:
                print("Ops! Isso não é um número válido. Digite um número, por favor.")
    matriz.append(linha_atual) # Adiciona a linha completa na nossa matriz

print("\n---")
print("Sua matriz ficou assim:")
for linha in matriz:
    print(linha) # Mostra cada linha da matriz
print("---")

# Parte 2: Calcular a soma da diagonal principal

soma_diagonal = 0 # Onde vamos guardar a soma

# Percorremos a matriz novamente para pegar os números da diagonal principal
# Os números da diagonal principal são sempre aqueles onde o número da linha é igual ao número da coluna.
# Ex: [0][0], [1][1], [2][2], [3][3]
for i in range(4):
    soma_diagonal += matriz[i][i] # Adiciona o número da diagonal à nossa soma

print(f"\nA soma dos números da diagonal principal é: {soma_diagonal}")

Vamos preencher uma matriz 4x4.
Por favor, digite um número (pode ser com vírgula) e aperte Enter a cada vez.

Digite o número para a posição [1,1]:  1
Digite o número para a posição [1,2]:  2
Digite o número para a posição [1,3]:  3
Digite o número para a posição [1,4]:  4
Digite o número para a posição [2,1]:  5
Digite o número para a posição [2,2]:  6
Digite o número para a posição [2,3]:  7
Digite o número para a posição [2,4]:  8
Digite o número para a posição [3,1]:  9
Digite o número para a posição [3,2]:  10
Digite o número para a posição [3,3]:  11
Digite o número para a posição [3,4]:  12
Digite o número para a posição [4,1]:  13
Digite o número para a posição [4,2]:  14
Digite o número para a posição [4,3]:  15
Digite o número para a posição [4,4]:  16

---
Sua matriz ficou assim:
[1.0, 2.0, 3.0, 4.0]
[5.0, 6.0, 7.0, 8.0]
[9.0, 10.0, 11.0, 12.0]
[13.0, 14.0, 15.0, 16.0]
---

A soma dos números da diagonal principal é: 34.0

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 12